{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    learn for django grammar
</h1>
<div>
    {{ n1 }}
</div>
<div>
    {{ n2.0 }}
</div>
<div>
    {{ n2.1 }}
</div>
<div>
    {{ n2.2 }}
</div>
<div>
    {% for item in n2 %}
        <span>{{ item }}</span>
    {% endfor %}
</div>
<hr/>
{{ n31}}
{{ n3.1.name}}
{{ n3.1.role}}

{% for item in n3 %}
    <div>{{ item.name }} {{ item.salary }}</div>
{% endfor %}
<hr/>

{% if n1 == "Skadi" %}
    <h1>SSSSSS</h1>>
{% elif n1 == "SkadiP" %}
    <h1>TTTT</h1>>
{% else %}
    <h1>DDDDDDD</h1>>
{% endif %}

</body>
